@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.col {
  display: flex;
}

header {
  background-color: #2e323f;
  padding: 1.25em 0;
  text-align: center;
}

.nav-toggle {
  cursor: pointer;
  background-color: #3b4050;
  border-radius: 50%;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0;
  position: absolute;
  left: 0;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}
.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo {
  height: 30px;
  display: block;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  display: flex;
  flex-direction: column;
}

.nav__list {
  list-style: none;
  width: 50%;
  margin: 1.5em auto 0 auto;
  padding: 0;
}

.nav__item {
  cursor: pointer;
  font-size: 0.95em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald';
  margin-bottom: 1.2em;
}

.nav__item:hover,
.nav__item:focus,
.hero__text--button:hover,
.hero__text--button:focus {
  opacity: 0.75;
}

.nav-button,
.hero__text--button {
  border: 0;
  color: #fff;
  background-color: #a59678;
  padding: 0.5em 1em;
  border-radius: 100px;
  text-decoration: none;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.hero {
  color: #fff;
  background-color: #3b4050;
  padding: 1em 0 2em 0;
}

.hero__title {
  font-size: 1.5em;
  font-family: 'Oswald';
  max-width: 500px;
  line-height: 1.3;
}

.hero__title span {
  color: #A59678;
}

.hero__text {
  margin-bottom: 2em;
}

.hero__text--button {
  font-family: 'Oswald';
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .nav-toggle {
    display: none;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    height: auto;
    visibility: visible;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
  }
  .nav__item {
    margin: 0 0 0 1em;
  }

  .hero {
    padding: 3em 0;
  }

  .hero__title {
    width: 40%; 
  }
  .hero__text--container  {
   width: 40%;
   padding-top: 1.8em;
  }
}

@media (min-width: 1000px) {
  .hero {
    padding: 4em 0;
  }
  /* .hero__title {
    width: 39%; 
  } */
  .hero__text--container  {
    width: 50%;
    padding-top: 4em;
  }
}